<ion-header [translucent]="true">
  <ion-toolbar color ="tertiary" >
    <ion-title  size ="large">
      PROJECT PLANNER
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense" color ="success">
    <ion-toolbar>
      <ion-title size="large">PROJECT PLANNER</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-item color="secondary">
    <ion-label>
      START ORGANISING PROJECTS WITH US
    </ion-label>
  </ion-item>

  <div id="container">
    <strong>Ready To Plan Your Projects effectively?</strong>
    <p>Start with this planner <a target="_blank" rel="noopener noreferrer" href="/initialpage">GET STARTED</a></p>
  </div>

</ion-content>
